.forgotPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: #f1f1f1;
}

.forgotPasswordTitle {
    font-size: 28px;
    font-weight: 600;
    color: #333;
}

.forgotPasswordInfo {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    color: #555;
    max-width: 400px;
}

.forgotPasswordForm {
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
    text-align: left;
}

.forgotPasswordForm input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 2px solid #00C0FC;
    border-radius: 8px;
    outline: none;
}

.forgotPasswordForm .errorMessage {
    color: red;
    font-size: 12px;
}

.forgotPasswordEmail {
    margin-top: 30px;
    text-align: center;
}

.forgotPasswordEmail div {
    margin-bottom: 10px;
}

.forgotPasswordEmail span {
    font-size: 14px;
}

.forgotPasswordEmail a {
    color: #00C0FC;
    font-weight: 600;
}

.rememberPassword {
    margin-top: 20px;
    text-align: center;
}

.rememberPassword a {
    color: #000;
    font-weight: 600;
}
