body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

header img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
  color: #32325d;
}

main {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #6b6b75;
}

input,
button {
  padding: 10px 15px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  outline: none;
}

button {
  background: linear-gradient(90deg, #00BDA9 0%, #00C0FC 100%);
  width: 400px;
  height: 51px;
  padding: 16px;
  border-radius: 10px;
  color: white;
  text-align: center;
  line-height: 19px;
  font-family: 'TaleBlue', sans-serif;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  background-color: #0067cc;
}
a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 30px;
  font-size: 12px;
  color: #aaa;
}
